.darkmode {
  background-color: rgb(71, 68, 68);
  color: #f1f1f1;
  ---movements-color: orange;
}
.ligthmode {
  background-color: #f1f1f1;
  color: #343d5b;
  ---movements-color: gray;
}

html, body{
  height:100vh;
  margin:0;
  display: flex;
  flex-direction: column;
}

.switch {
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3rem 0.5rem;
  gap: 1rem;
  position: fixed;
  right: 4rem;
  top: 1rem;
  z-index: 100;
}
.switch:hover {
  transform: scale(1.1);
}
.switch::after {
  content: "";
  width: 34px;
  height: 34px;
  position: absolute;
  background-color: #ededed;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 50%;
  transition: 0.3s ease all;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background-color: orange;
  color: black;
}
.switch.active::after {
  left: unset;
  right: 0;
}
.switch span {
  display: flex;
  background-color: none;
  color: #fff;
}

[data-theme="light"] {
  --body-color-: rgb(247, 243, 244);
  --text-color-: rgb(27, 29, 33);
}

[data-theme="dark"] {
  --body-color-: rgb(19, 16, 17);
  --text-color-: rgb(231, 238, 252);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.App {
  padding: 100px;
  color: var(--text-color-);
}
p,
h1,
h3,
h3,
h4 {
  color: var(--text-color-);
}
body {
  background-color: var(--body-color-);
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.col {
  
  width: 100%;
  padding-top: 4rem;
  padding-left: 2rem;
}





.card:before,
.card:after{
  background: linear-gradient(235deg,#89ff00,#061c21,#00bcd4);
}

.card {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  height: 20rem;
}

.card img {
  width: 40%;
  height: 5rem;
  position: relative;
}
.container-types {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  background-color: var(--body-color-);
  width: 90%;
  height: 40%;
  align-items: flex-start;
  margin-left: .7rem;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 1rem;
}

.flex{
  display: flex;
  padding: 2px;
  gap: 1rem;
  color: var(--body-color-);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}


@media (min-width: 572px) {
  .col {
    width: 50%;
  }
}

@media (min-width: 752px) {
  .col {
    width: 33.333333%;
  }
}

@media (min-width: 992px) {
  .col {
    width: 25%;
  }
}

@media (min-width: 1176px) {
  .col {
    width: 20%;
  }
}
.container-info {
  height: 12rem;
  align-items: center;
  justify-content: center;
}

.container-4{
  justify-content: center;
  align-items: center;
  display: flex;
}

.input_pokedex {
  background-image: url("./assets/img/pokebolapng.png");
  background-repeat: no-repeat;
  padding: 3rem;
  width: 70rem;
  height: 26.5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  margin: 5rem auto;
}
.container_trainer {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 4rem;
}
.container_trainer p {
  margin-top: -6rem;
  font-weight: 800;
  font-size: 1.5rem;
}

.input_pokedex_container {
  border-radius: 1rem;
  display: inline-block;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 15rem;
  max-height: 26rem;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.inputtrainer {
  border-radius: 1rem;
  height: 2.3rem;
  outline: none;
  border: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

input {
  font-size: 1.5rem;
}
.buttom {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: rgb(23, 241, 23);
  border-radius: 50%;
  margin-left: -2.5rem;
  bottom: 0.3rem;
  color: white;
  position: relative;
}

/*pokedex Details*/
.pokedex-datail {
  background-color: bisque;
  width: 50rem;
  height: 18rem;
  margin-top: 6rem;
  margin-left: 4rem;
  align-items: center;
}

.pokemon-datails {
  display: flex;
  justify-content: space-around;
}

.height {
  width: 5rem;
  height: 3rem;
  margin-bottom: 2rem;
  position: relative;
  top: -5rem;
}

.weight{
  width: 5rem;
  height: 3rem;
  margin-bottom: 2rem;
  position: relative;
  top: -5rem;
}

.container-type {
  margin-left: 4rem;
  margin-top: 1rem;
  background-color: var(---movements-color);
  width: 22rem;
  height: 9rem;
}

.container-abilities {
  background-color: var(---movements-color);
  width: 27rem;
  height: 7rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.container-description {
  display: flex;
}

.container-5{
  height: 60rem;
}



.conta

.container-pokedex-int{
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
}

.container-pokedex {
  display: flex;
  background-color: var(--body-color-);
}

.container-Movements {
  margin-top: 6rem;
  margin-left: 1rem;
  width: 20rem;
}

.encounters {
  background-color: rgb(174, 183, 190);
}

.movements {
  background-color: var(---movements-color);
  margin-top: 1rem;

}

.abilities-container {
  display: flex;
  justify-content: space-evenly;
}

.container-type-info {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.type-info {
  width: 8rem;
  height: 2rem;
  background-color: skyblue;
}

.abilities-one,
.abilities-two {
  background-color: aqua;
  margin-top: 1.5rem;
  width: 6rem;
  height: 2rem;
}

.img-pokemonDetail {
  width: 15rem;
  height: 12rem;
  margin-left: 17.5rem;
}

.img-pokemonDetail img {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 3rem;
}

.container-swicht {
  display: flex;
  padding-left: 60rem;
  padding-top: 1rem;
  position: absolute;
}

.cotainer-welcome {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.container-select {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
}

span {
  color: orangered;
  font-size: 2rem;
}

.container-span {
  padding: 0 1rem;
}

.container-selection {
  margin-top: 2rem;
  width: 14rem;
  border-radius: 1rem;
  height: 2.3rem;
  outline: none;
  border: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.container-buttom input {
  border-radius: 1rem;
  height: 2.3rem;
  outline: none;
  border: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.container-buttom button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: rgb(23, 241, 23);
  border-radius: 50%;
  margin-left: -2.5rem;
  bottom: 0.3rem;
  color: white;
  position: relative;
}

.page-buttom {
  top: 1rem;
  left: 0.1rem;
}


.page-buttoms {
  padding: 0.5rem;
  border-radius: 0 70% 0 70%;
}

.pagination_numbers {
  padding: 0.5rem;
  border-radius: 29% 0 40% 10%;
}
.nav{
  background-color: palevioletred;
}
.page-buttoms-left {
  padding: 0.5rem;
  border-radius: 70% 0 70% 0;
}

.movements {
  height: 44rem;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 2rem;
}

.container-bar {
  border: 1px solid;
  width: 50rem;
  margin-left: 4rem;
  margin-top: 1rem;
  padding: 1.5rem;
}

.container-bar h3 {
  margin-bottom: 1rem;
}

.container-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.item {
  display: flex;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: 1rem;
  background-color: #ededed;
  border-radius: 15px;
  font-size: 12px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 0.8rem;
  position: relative;
}

.bar-calc {
  position: absolute;
  background-color: yellow;
  height: 1rem;
  top: 0;
  left: 0;
  border-radius: 15px;
}
